.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: black;
    position: relative;
    .logo {
      font-size: 7vw;
      font-weight: bold;
      font-family: 'Creepster', cursive;
      letter-spacing: 10px;
      text-align: center;
      padding-top: 3%;
      color: gray;
    }
}
.desc{
    font-size: 2.5vw;
    letter-spacing: 5px;
    text-align: center;
    color: gray;
}
h2 {
  color: gray;
  text-align: center;
  margin-top: 3%;
}
.login-form {
    margin-top: 2%;
    background-color: #fff;
    border-radius: 10px;
    padding: 3%;
    max-width: fit-content;
    box-shadow: 5px 5px 20px #383838;
    text-align: center;
    align-content: center;
}
.form-group {
    margin-top: 1%;
    padding-top: 1%;
  }

.btn-container {
    position: relative;
    align-content: center;
    margin-top: 10%;
    .btn {
      text-align: center;
    }
    .error {
      position: absolute;
      top: 32px;
      right: 0px;
      color: red;
    }
}